**/node_modules/
**/build/
**/coverage/
**/reports/
.DS_Store
.idea/

# iOS
**/Pods/
**/xcuserdata/
**/*.xcuserstate/
**/*.xcworkspace/

# Gradle
**/local.properties
**/.gradle/

# Files in the access-checkout-react-native-sdk folder
access-checkout-react-native-sdk/src/*.js
access-checkout-react-native-sdk/android/com/**/*

# Files in the demo-app flder
demo-app/src/**/*.js
!demo-app/src/**/*style*.js
demo-app/test-report.html
